<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="S3_ACCESS_KEY_ID" value="dom" />
    <add key="S3_SECRET_KEY" value="dtomdFshXb9bWelb4GZ7FhhQCnYxYYpsg1hzvYaE" />
    <add key="S3_ENDPOINT" value="http://10.246.22.181:9020" />
    <add key="ECS_NAMESPACE" value="demo" />
    <add key="VPOOL_ID" value="urn:storageos:ReplicationGroupInfo:ca98694f-cb20-4f0e-95c4-e450e0ddde62:global" />
	<add key="SIGNATURE_VERSION" value="4" />
  </appSettings>
</configuration>