<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<!-- 3.3 example -->
	<add key="S3_ACCESS_KEY_ID" value="dom" />
	<add key="S3_SECRET_KEY" value="dtomdFshXb9bWelb4GZ7FhhQCnYxYYpsg1hzvYaE" />
	<add key="S3_ENDPOINT" value="http://10.246.22.181:9020" />
	<add key="ECS_NAMESPACE" value="demo" />
	<add key="VPOOL_ID" value="urn:storageos:ReplicationGroupInfo:ca98694f-cb20-4f0e-95c4-e450e0ddde62:global" />
	<add key="SIGNATURE_VERSION" value="4" />	 
	  
	<!-- 3.5 example -->
	<!--<add key="S3_ACCESS_KEY_ID" value="demo01-user01" />
	<add key="S3_SECRET_KEY" value="sgyTe9KS9Z2ReHWK/xQnw59kATPcD0ypA7ffaDFd" />
	<add key="S3_ENDPOINT" value="http://10.246.151.81:9020" />
	<add key="ECS_NAMESPACE" value="demo01" />
	<add key="VPOOL_ID" value="urn:storageos:ReplicationGroupInfo:05959ec5-a10e-482c-b898-ec14e5bc943a:global" />
	<add key="SIGNATURE_VERSION" value="4" />-->
	  
	<!--<add key="S3_ACCESS_KEY_ID" value="" />
	<add key="S3_SECRET_KEY" value="" />
	<add key="S3_ENDPOINT" value="" />
	<add key="ECS_NAMESPACE" value="" />
	<add key="VPOOL_ID" value="" />
	<add key="SIGNATURE_VERSION" value="" />-->
  </appSettings>
</configuration>